# Bike collisions in Chile, RM (2016-2021)
#### by Romina Sepúlveda

![](Bike_picture.jpeg)

**Objetive**: Crear an interactive dashboad with the infomation of the bicycle collisions in the Metropolitan Region of Chile.


  - Explore collsions by severity. 
  - Tendendy over the years.
  - inpact of the pandemic in the amount of collision.
  - What areas of the city (borought) have more collision.

Data source:
CONASET, National Comision of Safe Transit\
https://www.conaset.cl/programa/observatorio-datos-estadistica/

Columns of interest:

- **FID:** id for the collision
- **lat:** Some time is referd as X
- **lng:** Some time is referd as Y
- **Año:** Year
- **Comuna:** City where the collision took place
- **Región:** The same for whole dataset: 'REGION METROPOLITADA'
- **Severity:** Independently of the role of the participant, the severity will be classified as: 
    - FATAL:   Fallecido 
    - SERIOUS: Graves y Menos Graves
    - SLIGHT:  Leves

### Data Cleaning

In [371]:
#import librearies
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
import warnings
warnings.simplefilter('ignore')

In [328]:
#import data sets

df16 = pd.read_csv('Siniestros_bicicletas_RM2016.csv')
df17 = pd.read_csv('Siniestros_bicicletas_RM2017.csv')
df18 = pd.read_csv('Siniestros_bicicletas_RM2018.csv')
df19 = pd.read_csv('Siniestros_bicicletas_RM2019.csv')
df20 = pd.read_csv('Siniestros_bicicletas_RM2020.csv')
df21 = pd.read_csv('Siniestros_bicicletas_RM2021.csv')

#### Organizing Columns

In [369]:
# The columns of interest have diferente name for the same columns in some data sets.

In [331]:

df16 = df16[['X',
 'Y',
 'FID',
 'Comuna',
 'Año',
 'Región',
 'Zona',
 'Fallecid_1',
 'Graves_1',
 'Menos_Gr_1',
 'Leves_1']]

In [332]:
# rename the column to be consisted with the rest of the dataset
new_column_names_16 = {
    'Fallecid_1': 'Fallecidos',
    'Graves_1': 'Graves',
    'Menos_Gr_1': 'Menos_Grav',
    'Leves_1': 'Leves',
}

df16.rename(columns=new_column_names_16, inplace=True)

In [333]:
df17 = df17[['X',
 'Y',
 'FID',
 'Año',
 'Comuna',
 'Región',
 'Zona',
 'Fallecidos',
 'Graves',
 'Menos_Grav',
 'Leves',
 'FallecidoB',
 'GraveBici',
 'MgraveBici',
 'LeveBici']]

In [334]:
df18 = df18[['X',
 'Y',
 'FID',
 'Año',
 'Comuna',
 'Región',
 'Zona',
 'Fallecidos',
 'Graves',
 'Menos_Grav',
 'Leves',
 'FallecidoB',
 'GraveBici',
 'MgraveBici',
 'LeveBici']]

In [335]:
df19 = df19[['X',
 'Y',
 'FID',
 'Ano',
 'Region',
 'Comuna',
 'Zona',
 'Fallecidos',
 'Graves',
 'Menos_Grav',
 'Leves']]

In [336]:
#Change the typo in the name for consistency 

new_column_names_19 = { 'Ano': 'Año',
                       'Region':  'Región'
                      }
df19.rename(columns=new_column_names_19, inplace=True)

In [337]:
df20 = df20[['X',
 'Y',
 'FID',
 'Año',
 'Región',
 'Comuna',
 'Zona',
 'Fallecidos',
 'Graves',
 'Menos_Grav',
 'Leves',
 'FallecidoB',
 'GraveBici',
 'MgraveBici',
 'LeveBici']]

In [338]:
#i need to change the name to lower case in order to merge 2021 with the rest

In [339]:
df21 = df21[['X',
'Y',
'FID',
'REGION',
'COMUNA',
'Año',
'Zona',
'Fallecidos',
'Graves',
'Menos_Grav',
'Leves',
'Ilesos']]

In [370]:
#Diccionario with the new names for df1 to be consitent wth the manes of other columns

new_column_names_21 = {
    'REGION': 'Región',
    'COMUNA': 'Comuna',
}

df21.rename(columns=new_column_names_21, inplace=True)

#### Severity

In [341]:
# Since df21 is the only one with 'Ilesos' I will add that count to 'Leves'

df21['Leves'] = df21['Leves'] + df21['Ilesos']

# drop the column  
df21.drop(['Ilesos'], 1, inplace = True)

/var/folders/vr/d7s6mt_50px6lr9kx8j015100000gn/T/ipykernel_7428/3209103464.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df21.drop(['Ilesos'], 1, inplace = True)

In [342]:
#concatecate the data set that have more details in order to aggrupate the indo and make it consistent with the other datasets
df17_18_20 = pd.concat([df17,df18, df20], ignore_index=True)

In [343]:
#add
df17_18_20['Fallecidos'] = df17_18_20['Fallecidos'] + df17_18_20['FallecidoB'] 
df17_18_20['Graves']     = df17_18_20['Graves']     + df17_18_20['GraveBici'] 
df17_18_20['Menos_Grav'] = df17_18_20['Menos_Grav'] + df17_18_20['MgraveBici']
df17_18_20[ 'Leves']     = df17_18_20[ 'Leves']     + df17_18_20['LeveBici']

In [344]:
#drop
df17_18_20.drop([ 'FallecidoB','GraveBici','MgraveBici','LeveBici'], 1 , inplace= True)

/var/folders/vr/d7s6mt_50px6lr9kx8j015100000gn/T/ipykernel_7428/740618568.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df17_18_20.drop([ 'FallecidoB','GraveBici','MgraveBici','LeveBici'], 1 , inplace= True)

#### Concatenate

In [345]:
#concatenate all the datasets

#concatecate
df = pd.concat([df17_18_20 , df16, df19, df21 ], ignore_index=True)

In [346]:
df.head()

,X,Y,FID,Año,Comuna,Región,Zona,Fallecidos,Graves,Menos_Grav,Leves
0,-70.885688,-33.294126,1,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,0,1
1,-70.882489,-33.266255,2,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,2,0
2,-70.881043,-33.282934,3,2017,LAMPA,REGION METROPOLITANA,URBANA,0,0,0,1
3,-70.878267,-33.284301,4,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,0,1
4,-70.878193,-33.284401,5,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,0,1

In [347]:
#I need to turn the the columns 'Fallecidos', 'Graves','Menos_Graves','Leves' into severity

In [348]:
def classify_severity(row):
    if row['Fallecidos'] > 0:
        return 'FATAL'
    elif row['Graves'] > 0:
        return 'SERIOUS'
    elif row['Menos_Grav'] > 0:
        return 'SERIOUS'
    else:
        return 'SLIGHT'

In [349]:
df['Severity'] = df.apply(classify_severity, axis=1)

In [350]:

df.head()

,X,Y,FID,Año,Comuna,Región,Zona,Fallecidos,Graves,Menos_Grav,Leves,Severity
0,-70.885688,-33.294126,1,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,0,1,SLIGHT
1,-70.882489,-33.266255,2,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,2,0,SERIOUS
2,-70.881043,-33.282934,3,2017,LAMPA,REGION METROPOLITANA,URBANA,0,0,0,1,SLIGHT
3,-70.878267,-33.284301,4,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,0,1,SLIGHT
4,-70.878193,-33.284401,5,2017,LAMPA,REGION METROPOLITANA,RURAL,0,0,0,1,SLIGHT

In [351]:
#drop

df.drop(['Fallecidos', 'Graves','Menos_Grav','Leves', 'FID'], 1 , inplace=True)

/var/folders/vr/d7s6mt_50px6lr9kx8j015100000gn/T/ipykernel_7428/674559121.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['Fallecidos', 'Graves','Menos_Grav','Leves', 'FID'], 1 , inplace=True)

In [352]:
df.head()

           X          Y   Año Comuna                Región    Zona Severity
0 -70.885688 -33.294126  2017  LAMPA  REGION METROPOLITANA   RURAL   SLIGHT
1 -70.882489 -33.266255  2017  LAMPA  REGION METROPOLITANA   RURAL  SERIOUS
2 -70.881043 -33.282934  2017  LAMPA  REGION METROPOLITANA  URBANA   SLIGHT
3 -70.878267 -33.284301  2017  LAMPA  REGION METROPOLITANA   RURAL   SLIGHT
4 -70.878193 -33.284401  2017  LAMPA  REGION METROPOLITANA   RURAL   SLIGHT

In [357]:
#rename

new_column_names_df = {
    'X': 'lat',
    'Y': 'lng',
    'Año': 'Year',
    'Comuna': 'Borough',
    'Región': 'Region',
    'Zona': 'Zone'
}

df.rename(columns=new_column_names_df, inplace=True)

In [358]:
df.head()

         lat        lng  Year Borough                Region    Zone Severity
0 -70.885688 -33.294126  2017   LAMPA  REGION METROPOLITANA   RURAL   SLIGHT
1 -70.882489 -33.266255  2017   LAMPA  REGION METROPOLITANA   RURAL  SERIOUS
2 -70.881043 -33.282934  2017   LAMPA  REGION METROPOLITANA  URBANA   SLIGHT
3 -70.878267 -33.284301  2017   LAMPA  REGION METROPOLITANA   RURAL   SLIGHT
4 -70.878193 -33.284401  2017   LAMPA  REGION METROPOLITANA   RURAL   SLIGHT

In [366]:
# Define a mapping of non-standard names to standardized names

borough_mapping = {
    'Ã‘UÃ‘OA': 'ÑUÑOA',
    'ñuñoa': 'ÑUÑOA',
    'NUNOA': 'ÑUÑOA',
    'Ñuñoa': 'ÑUÑOA',
    'PEÃ‘ALOLEN': 'PEÑALOLEN',
    'PENALOLEN': 'PEÑALOLEN',
    'Peñaflor': 'PEÑALOLEN',
    'P. AGUIRRE CERDA': 'PEDRO AGUIRRE CERDA',
    'Pedro Aguirre Cerda': 'PEDRO AGUIRRE CERDA',
    'PENAFLOR': 'PEÑAFLOR',
    'Peñalolén': 'PEÑAFLOR',
    'QUINTA NORMA': 'QUINTA NORMAL',
    'Quinta Normal': 'QUINTA NORMAL',
       
}

# Use the mapping to replace non-standard names with standardized names
df['Borough'] = df['Borough'].replace(borough_mapping)

In [367]:
#sabe to csv
df.to_csv('df_Bike_Collision_Chile.csv')

#### Final Thoughts

Ideas for dashboord:
   - Vertical bar for severity.
   - Line from year vs contidad de incidentes.
   - Horizontal Bar for area with more incident.
   - Map of collisions.

Link to the dashboard
https://public.tableau.com/app/profile/romina1158/viz/BicycleCollisionsinChileRM2016-2021/Dashboard1

![](Dashboard_picture.png)

Opportinities for improvement

   - Explore seasonality.
   - Explore other regoions of the county #SantiagoNoEsChile.
   - Explore the detail of when was the rider o not the one affected.